.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    max-width: 100%;
    height: auto;
}

.skills-animation-container {
    display: flex;
}
.skills-animation {
    display: flex;
    animation: slide 400s linear infinite;
}
.animation-text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 2.6em;
    padding: 0.5em;
    border: black solid 0.1em;
    border-radius: 0.6em;
    margin: 0.4em;
}
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}
.home-about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-about {
    font-size: 0.9em;
    text-align: justify;
    width: 25.5em;
    padding: 1em;
}
.home-project-link {
    display: flex;
    cursor: pointer;
}
.hooman-pic-home {
    width: 22em;
}

.home-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.group-home {
    margin: 1em;
}
